/*---------------------------------------
    general     
-----------------------------------------*/

body{
  position: relative;
  background-color: #ffffff;
  font-size: 1em;
  overflow-x: hidden;
  font-family: 'Karla', sans-serif;
  padding-bottom: 10%;
  padding-top: 5%;
}

/*-------------------------------------
    navigation bar          
-----------------------------------------*/
.navbar{
  color: #1f1f1f; 
  padding-top: 1em;
  padding-bottom: 1em; 
}


.nav-link, .navbar-brand{
  color: black;
  cursor: pointer;
}

.nav-link{
  margin-left: 1em !important;
}

.nav-item-active{
  text-decoration: underline; /*current link*/
}

.navbar-brand{
  font-family: 'DM Serif Text', serif;
  font-size: 25px;
}

.navbar-brand:hover{
  color: inherit; 
}

.navbar-collapse{
  justify-content: flex-end;
}

.nav-link:hover {
  color: #cc8800;
}

.icon-bar {
  width: 22px; 
  height: 2px;
  background-color: #B6B6B6;
  display: block;
  transition: all 0.2s;
  margin-top: 4px
}
 
.navbar-toggler {
  border: none;
  background: transparent !important;
}
 
 /*collpased navbar transformations*/
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler .middle-bar {
  opacity: 0;
}
 
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
 
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
 
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
 
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/*---------------------------------------
  introduction        
-----------------------------------------*/


#intro{
  background: #ECECEC; 
  position: relative;
}

#intro-text{
  margin-top: 20%; /*space for navbar*/
  margin-bottom: 20%;
}

#intro-text h1{
  font-family: 'DM Serif Text', serif;
}


#portfolio-link{ /*link to work below*/
  color: #1f1f1f;
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 15%;
}

#portfolio-link:hover{
  color: #cc8800;
}

#drawing{
  padding-top: 10%;
}

#flower-decor{
  position: absolute;
  left: 0;
  bottom: 0;
}


/*---------------------------------------
  portfolio        
-----------------------------------------*/


.portfolio{
  float:center;
  padding-top: 15%;
}

.projtitle{ /*all project links*/
  text-decoration: none;
  color: #1f1f1f;
}

.projtitle:hover{ /*remove default link decoration*/
  text-decoration: none;
  color: #1f1f1f;
}

/*colored underlines for titles*/
#buntitle{ 
  border-bottom: 8px solid #cfdbc5;
  width: 230px;
}

/*swipe to top animation color*/
#buntitle.hvr-sweep-to-top:before{
  background: #cfdbc5;
}

/*colored underlines for titles*/
#fttitle{
  border-bottom: 8px solid #EDE8F7;
  width: 325px;
}

/*swipe to top animation color*/
#fttitle.hvr-sweep-to-top:before{
  background: #EDE8F7;
}

/*colored underlines for titles*/
#schooltitle{
  border-bottom: 8px solid #f3d7ca;
  width: 200px;
}

/*swipe to top animation color*/
#schooltitle.hvr-sweep-to-top:before{
  background: #f3d7ca;
}

/*colored underlines for titles*/
#vuititle{
  border-bottom: 8px solid #f0f5fa;
  width: 270px;
}

/*swipe to top animation color*/
#vuititle.hvr-sweep-to-top:before{
  background: #f0f5fa;
}

/*project description*/
.proj-desc{
  margin-top: 6%;
}

.proj-desc h3{
  font-family: 'DM Serif Text', serif;
}

/*view project link*/
.proj-link{
  text-decoration: underline;
}

#portfolio-section{
  margin: auto;
}

/*---------------------------------------
  about me       
------------------------------------------*/

#about-me{
  padding-top: 5%;
  padding-bottom: 10%;
}

#about-img{
  width: 90%;
}

#about-text{
  padding-left: 15%;
}

/*---------------------------------------
 footer        
-----------------------------------------*/

.footer{
  font-size: 1em;
  font-family: 'Karla', sans-serif;
  position: absolute;
  bottom: 0;
  height: 5rem;
  width: 100%;
}

.fa{
  text-align: center;
  font-size: 20px;
  padding-left: 5px;
  text-decoration: none;
  color: #1f1f1f;
}

.fa:hover {
  text-decoration: none;
  color: #cc8800;
}

/*---------------------------------------
 animations 
 credit to https://ianlunn.github.io/Hover/      
-----------------------------------------*/

/* Sweep To Top Animation*/
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

/* Icon Forward Animation*/
.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.hvr-icon-forward .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-icon-forward:hover .hvr-icon, .hvr-icon-forward:focus .hvr-icon, .hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(4px);
  transform: translateX(4px);
}

/* Underline From Left Animation */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #cc8800;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/*---------------------------------------
bookshelf      
-----------------------------------------*/

#toggleContainer label { 
  text-align: center;
  width: 70px;
}

#contain {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

#toggleContainer {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 95vw;
  position: absolute;
}

#tilesContainer {
  min-height: 90vh;
  width: 100vw;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  align-content: center;
  
}

.tileItem {
  width: 250px;
  height: 250px;
  margin: 5px;
  border-radius: 5px;
  
  transition: all 0.5s ease;
}

.tileItem:hover {
   transform: scale(1.05);
  transition: all 0.5s ease;
}

#galleryContainer { 
  height: 500px;
  width: 600px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

#toggle {
  height: 10vh;
  width: 200px;
  display: flex;
  align-items: center;
  margin: 10px;
}

#tilesView {
  min-height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
  
}

#galleryView {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer3 {
  width: 100px;
  height: 40px;
  background-color: grey;
  margin: 10px auto;
  border-radius: 3px;
  border: 2px solid white;
  transition: all 0.5s;
}

#slider3 {
  height: 36px;
  width: 46px;
  background-color: white;
  border-radius: 3px;  
  transition: all 0.5s;
}

#slider3.active {
  -webkit-transform: translatex(50px);
  -ms-transform: translatex(50px);
  -o-transform: translatex(50px);
  transform: translatex(50px);
  transition: all 0.5s;
  background-color: grey;
}

#outer3.outerActive {
  background-color: white;
  border: 2px solid white;
  transition: all 0.5s;
}

#mainView {
  height: 450px;
  width: 300px;  
  border-radius: 5px;
  background-color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 1;
  transition: all 1s;  
}

#mainView:hover {
  transform: scale(1.2);
  transition: all 1s;   
}

#leftView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(5deg);
  transform-origin: top right;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;  
}

#leftView:hover {
  opacity: 1;
  transition: all 1s;
}

#rightView {
  height: 400px;
  width: 150px;
  opacity: 0.5;
  border-radius: 5px;
  transform: skewy(-5deg);
  transform-origin: top left;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
 transition: all 1s;
}

#rightView:hover {
  opacity: 1;
  transition: all 1s;
}

.navBtns {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  position: absolute;
  opacity: 0.8;
  background-color: transparent;
  cursor: pointer;
  color: white;
}

.navBtns:hover {
  opacity: 1;
  transition: all 1s;
  background-color: #eb9100;
}

#navLeft {
  left: 50px;
}

#navRight {
  right: 50px;
}

#linkTag { 
  cursor: pointer;
  z-index: 1;
  box-sizing: border-box;
}

/*---------------------------------------
projects      
-----------------------------------------*/

.content-title{
  padding-top: 75px;
  padding-bottom: 50px;
  line-height: 20px;
}
 
 .content-title h2{
  font-family: 'DM Serif Text', serif;
}

.content-details{
  padding-top: 75px;
}

.content-details h4, h5{
  font-family: 'DM Serif Text', serif;
}

.content-details a{
  text-decoration: none;
  color: #cc8800;
}

.content-details p{
  padding-top: 20px;
  font-size: 14px;
}

.subcontent-details{
  padding-top: 35px;
}

.subcontent-details h5{
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}

.subcontent-details p{
  font-size: 14px;
  margin-bottom: 15px;
}

.content-img{
  padding-top: 8px;
}

.content-img img{
  max-width: 100%;
}

.top-bullet{
  padding-top: 20px;
  font-size: 14px;
}

#poster{
  width: 80%;
  margin: auto;
  display: block;
}